
body{
  color: #40514E;
    margin:0;
  text-align: center;
font-family: 'Merriweather', serif;
  font-size:200%;
}
h1{
  line-height: 1;
font-size:5.625rem;    /* em or rem use to make it  dynamic size  if we zoom then words size incresed*/
  margin:50px auto 0 auto;  /*top right bottom left*/ /*1em =16px*/
  font-family: 'Sacramento', cursive;
  color:#66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
  font-weight:normal;
padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}
p{
font-size:17.5px;
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width:4%;
  margin:100px auto;
}
.top-container{
position:relative;
padding-top:100px;
background-color:#E4F9F5;
}
.middle-container{
  margin:100px 0;  /*top 100 right 0 bottom 100 left 0*/
}
.bottom-container{
  background-color: #11999E;
  padding: 50px 0 20px;
}
.pro{
  text-decoration: underline; /*pro of programmer   to give underline on pro part*/
}
a{
  color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    margin:10px 20px 10px; /*top right bottom */
    text-decoration: none;  /* to remove underline*/
}
a:hover{
  color:white;
}
.bottom-cloud{
  position: absolute;
  left:250px;
  bottom: 300px;

}
.top-cloud{
  position:absolute;
  right:300px;
  top:40px;
}
.comp{
  width:25%;
  float:left;
  margin-right: 30px;
}
.webd{
  width:25%;
  float:right;
  margin-left: 30px;
}
.skill-row{
  margin:100px auto 100px auto;
  width:50%;
  text-align: left;
  line-height: 1;
}
.intro{
  width:30%;
  margin:auto;
}
.contact-message{
  width:40%;
  margin:40px auto 60px ;
}

.btn {  /*go to  the button generator site*/
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, 2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, 2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, 2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, 2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, 2bc4ad);
  text-decoration: none;
}
.copyright{
  color:#B1BCE6;
  font-size:0.75rem;
  padding:20px 0;
}
